<template id="shopping-cart-item">
    <style type="text/css">
    @host {
        width: 100%;
        height: auto;
    }
    li div {
        color: red;
    }
    </style>
    <li>
        <div><content></content></div>
    </li>
</template>
<script>
(function(w, d) {
    var shoppingCartItem = Object.create(HTMLElement.prototype);
    shoppingCartItem.createdCallback = function() {
        var myShadow = this.createShadowRoot();
        var template = d.querySelector('#shopping-cart-item');
        var clone = d.importNode(template.content, true);
        myShadow.appendChild(clone);
    };
    d.registerElement('shopping-cart-item', {
        prototype: shoppingCartItem
    });
})(window, document.currentScript.ownerDocument);
</script>