<template id="shopping-cart">
    <style type="text/css">
    :host {
        width: 100%;
        height: auto;
        display: block;
    }
    ul {
        list-style: none;
        padding: 0 10px 0 5px;
        margin: 0;
    }
    li[total] {
        text-transform: uppercase;
    }
    </style>
    <ul class="holder">
        <li static if-empty></li>
        <li static total></li>
    </ul>
</template>
<script>
(function(w, d) {
    'use strict';
    var cartItemAdderProto = Object.create(HTMLButtonElement.prototype);
    cartItemAdderProto.createdCallback = function () {
      var myShadow = this.createShadowRoot();
      myShadow.innerHTML = '<style>'+
      ':host {width: 110px;height: 50px;}' +
      '</style><content></content>';
    };

    var CartItemAdderBtn = d.registerElement('cart-item-adder', {
        prototype: cartItemAdderProto,
        extends: 'button'
    });
    var ShoppingCartController = function(context) {
        // Saving the context of the custom element
        this.context = context;
        // Initializing the shopping cart items
        this.cartItems = [];
        var getTotalCost = function() {
            return this.cartItems.reduce(function(aggr, item) {
                return aggr + item.cost;
            }, 0);
        }.bind(this);
        Object.defineProperty(this, 'totalCost', {
            get: function() {
                return getTotalCost();
            }
        });
        // Creating the shadow DOM root
        this.shadow = this.context.createShadowRoot();
        var template = d.querySelector('#shopping-cart').content.cloneNode(true);
        this.shadow.appendChild(template);

        var observeChanges = function(changes) {
            var self = this;
            changes.forEach(function(change) {
                console.log('What Changed?', change.name);
                console.log('How did it change?', change.type);
                console.log('What was the old value?', change.oldValue);
                console.log('What is the present value?', change.object[change.name]);
                if (change.name === 'length') {
                    self.updateDom(change);
                }
            });
        }.bind(this);

        // Object.observe comes under the ES7 spec
        Object.observe(this.cartItems, observeChanges);

        this.addItemAdderButtonToDom();
        this.updateDom();
    };

    ShoppingCartController.prototype.addItemAdderButtonToDom = function() {
        var itemAdderButton = new CartItemAdderBtn();
        var possibleValues = [10, 20, 30, 50, 80, 100];
        var addItemToCart = function(evt) {
            var length = this.cartItems.length;
            this.cartItems.push({
                name: 'Item ' + (length + 1),
                cost: possibleValues[Math.floor(Math.random() * possibleValues.length)]
            });
        }.bind(this);
        itemAdderButton.innerHTML = 'Add an item';
        // itemAdderButton.setAttribute('is', 'cart-item-adder');
        itemAdderButton.addEventListener('click', addItemToCart);
        this.shadow.appendChild(itemAdderButton);
    };

    ShoppingCartController.prototype.updateDom = function(change) {
        var numItems = change ? change.object[change.name] : this.cartItems.length;
        var emptyMessageContainer = this.shadow.querySelector('li[if-empty]');
        if (numItems === 0) {
            emptyMessageContainer.textContent = 'No items in cart';
        } else {
            emptyMessageContainer.textContent = '';
            var list = this.shadow.querySelector('ul');
            var removeDomNodes = function(node) {
                node.parentNode.removeChild(node);
            };
            Array.prototype.forEach.call(list.querySelectorAll('shopping-cart-item'), removeDomNodes);
            this.cartItems.forEach(function(item) {
                var cartItem = d.createElement('shopping-cart-item');
                cartItem.textContent = item.name + ' - ' + item.cost;
                list.insertBefore(cartItem, emptyMessageContainer);
            });
        }
        this.shadow.querySelector('li[total]').textContent = 'Total Cost: ' + this.totalCost;
    };

    //Declaring the shopping cart app
    var shoppingCartApp = Object.create(HTMLElement.prototype);
    shoppingCartApp.createdCallback = function() {
        this.controller = new ShoppingCartController(this);
    };
    //Registering the shopping-cart element
    d.registerElement('shopping-cart', {
        prototype: shoppingCartApp
    });
})(window, document.currentScript.ownerDocument);
</script>